
## **A program For Photographers Event**
# Introduction

ABC is a company based in Toronto for organizing events, currently it works on a project to organize an event for 5 days for a group of photographers from all over the world.The company has to put a good program, including a hotel of residence, a hall for meetings, places of landscape to visit, stores for shopping, restaurants and cafes. So the companyâ€™s purpose is to make a list of places of landscape in Toronto, including the nearest restaurants, cafes, and shopping stores for each place.
Data Description

The data used in this project is provided by Foursquare location data. The data are grouped by landscape area, and each area included the information about this area and all information about restaurants, cafes, and stores which in this area.

Table of contents

1- Import Libraries

2- Define Foursquare Credentials

3- Search for Hotels

### Import Libraries

In [0]:
import requests # to handle requests
import pandas as pd # for data analsysis
import numpy as np # to handle data in a vectorized manner

#!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
#tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

#!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

### DEFINE FOURSQUARE CREDENTIALS

In [0]:
ClIENT_ID = '4FQQJE2LMGVLERRRE2BOFR1LQQR5ZEHFLTD1WRAFKOFT4TI0' # your Foursquare ID
ClIENT_SECRET = 'RCSNR5TH31NQRG2QYCHK101HRMTUZHBB2TSJ1CJU5UOGRXRQ' # your Foursquare Secret
VERSION = '20180604'
LIMIT =30
print('Your credentails:')
print('Foursquare_ID: ' + ClIENT_ID)
print('Foursquare_Secret:' + ClIENT_SECRET)

Your credentails:
Foursquare_ID: 4FQQJE2LMGVLERRRE2BOFR1LQQR5ZEHFLTD1WRAFKOFT4TI0
Foursquare_Secret:RCSNR5TH31NQRG2QYCHK101HRMTUZHBB2TSJ1CJU5UOGRXRQ

In [0]:
# define the city and get its latitude & longitude 
city = 'Toronto'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(city)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

43.6534817 -79.3839347

In [0]:
# search for hotels
search_query = 'Hotel'
radius = 500

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=4FQQJE2LMGVLERRRE2BOFR1LQQR5ZEHFLTD1WRAFKOFT4TI0&client_secret=RCSNR5TH31NQRG2QYCHK101HRMTUZHBB2TSJ1CJU5UOGRXRQ&ll=43.6534817,-79.3839347&v=20180604&query=Hotel&radius=500&limit=30'

In [0]:
# Send the GET Request and examine the results
results = requests.get(url).json()
#results

In [0]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  after removing the cwd from sys.path.

                         id  ... location.neighborhood
0  51d212c3498ebf27dc469bc9  ...                   NaN
1  4ab2d511f964a5209b6c20e3  ...                   NaN
2  4af96fbbf964a520c01122e3  ...                   NaN
3  4ae61cf6f964a520caa421e3  ...                   NaN
4  51e48697498eded9073c6c17  ...                   NaN

[5 rows x 19 columns]

In [0]:
# keep only columns that include venue name, and anything that is associated with location
clean_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')]+ ['id']
clean_dataframe = dataframe.loc[:,clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
clean_dataframe['categories'] = clean_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_dataframe.columns = [column.split('.')[-1] for column in clean_dataframe.columns]

clean_dataframe.head()

                              name  ...                        id
0                    Chelsea Hotel  ...  51d212c3498ebf27dc469bc9
1    Sheraton Centre Toronto Hotel  ...  4ab2d511f964a5209b6c20e3
2  One King West Hotel & Residence  ...  4af96fbbf964a520c01122e3
3             Pantages Hotel & Spa  ...  4ae61cf6f964a520caa421e3
4    Crew Room Eaton Chelsea Hotel  ...  51e48697498eded9073c6c17

[5 rows x 16 columns]

In [0]:
# delete unnecessary columns
clean_dataframe2= clean_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs','neighborhood', 'id'], axis=1)
clean_dataframe2

                                              name  ... state
0                                    Chelsea Hotel  ...    ON
1                    Sheraton Centre Toronto Hotel  ...    ON
2                  One King West Hotel & Residence  ...    ON
3                             Pantages Hotel & Spa  ...    ON
4                    Crew Room Eaton Chelsea Hotel  ...    ON
5                   The Rex Hotel Jazz & Blues Bar  ...    ON
6                                   VFM Test Hotel  ...    ON
7          Cosmopolitan Toronto Centre Hotel & Spa  ...    ON
8                Sheraton Centre Hotel Club Lounge  ...    ON
9   Sheraton Centre Toronto Hotel - Grand Ballroom  ...    ON
10                                 Stathcona Hotel  ...    ON
11                                  Pentagos hotel  ...    ON
12                Shizen Spa at the Pantages Hotel  ...    ON
13                              Pantages Hotel Gym  ...    ON
14                   Pantages Hotel Toronto Centre  ...    ON
15                                       650 Hotel  ...    ON
16                                  St Regis Hotel  ...    ON
17                               Be SixFifty Hotel  ...    ON
18                   The Spa At The Adelaide Hotel  ...    ON
19                      The Adelaide Hotel Toronto  ...    ON
20         Smoldering remains of the Empress Hotel  ...    ON
21                    Bond Place Hotel Parking Lot  ...   NaN
22  Chelsea Hotel, Toronto Meetings & Events Venue  ...    ON
23           Suites at One King West Hotel Toronto  ...    ON
24              Henri's Bar at One King West hotel  ...    ON
25                            DoubleTree by Hilton  ...    ON
26                           89 Chestnut Residence  ...    ON
27    Marriott Downtown at CF Toronto Eaton Centre  ...    ON
28                                   Bistro on Two  ...    ON
29                                  Grand Ballroom  ...    ON

[30 rows x 7 columns]

In [0]:
# delete rows with none values
clean_dataframe3 = clean_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_dataframe3

                                              name  ... state
0                                    Chelsea Hotel  ...    ON
1                    Sheraton Centre Toronto Hotel  ...    ON
2                  One King West Hotel & Residence  ...    ON
5                   The Rex Hotel Jazz & Blues Bar  ...    ON
6                                   VFM Test Hotel  ...    ON
7          Cosmopolitan Toronto Centre Hotel & Spa  ...    ON
13                              Pantages Hotel Gym  ...    ON
14                   Pantages Hotel Toronto Centre  ...    ON
16                                  St Regis Hotel  ...    ON
18                   The Spa At The Adelaide Hotel  ...    ON
19                      The Adelaide Hotel Toronto  ...    ON
22  Chelsea Hotel, Toronto Meetings & Events Venue  ...    ON
25                            DoubleTree by Hilton  ...    ON
26                           89 Chestnut Residence  ...    ON
27    Marriott Downtown at CF Toronto Eaton Centre  ...    ON
28                                   Bistro on Two  ...    ON
29                                  Grand Ballroom  ...    ON

[17 rows x 7 columns]

In [0]:
# delete rows which its category is not Hotel or Event Space
array= ['Hotel', 'Event Space']
hotel_dataframe= clean_dataframe3.loc[clean_dataframe3['categories'].isin(array)]
hotel_dataframe

                                            name   categories  ... postalCode  state
0                                  Chelsea Hotel        Hotel  ...    M5G 1Z4     ON
1                  Sheraton Centre Toronto Hotel        Hotel  ...    M5H 2M9     ON
2                One King West Hotel & Residence        Hotel  ...    M5H 1A1     ON
6                                 VFM Test Hotel        Hotel  ...    M2M 2M2     ON
7        Cosmopolitan Toronto Centre Hotel & Spa        Hotel  ...    M5E 1E1     ON
16                                St Regis Hotel        Hotel  ...    M5H 4G3     ON
19                    The Adelaide Hotel Toronto        Hotel  ...    M5H 4G3     ON
25                          DoubleTree by Hilton        Hotel  ...    M5G 1R3     ON
27  Marriott Downtown at CF Toronto Eaton Centre        Hotel  ...    M5G 2L2     ON
29                                Grand Ballroom  Event Space  ...    M5H 2M9     ON

[10 rows x 7 columns]

In [0]:
# delete rows which has duplicate hotel's name
df_hotels = hotel_dataframe.drop_duplicates(subset='name', keep="first")
df_hotels

                                            name   categories  ... postalCode  state
0                                  Chelsea Hotel        Hotel  ...    M5G 1Z4     ON
1                  Sheraton Centre Toronto Hotel        Hotel  ...    M5H 2M9     ON
2                One King West Hotel & Residence        Hotel  ...    M5H 1A1     ON
6                                 VFM Test Hotel        Hotel  ...    M2M 2M2     ON
7        Cosmopolitan Toronto Centre Hotel & Spa        Hotel  ...    M5E 1E1     ON
16                                St Regis Hotel        Hotel  ...    M5H 4G3     ON
19                    The Adelaide Hotel Toronto        Hotel  ...    M5H 4G3     ON
25                          DoubleTree by Hilton        Hotel  ...    M5G 1R3     ON
27  Marriott Downtown at CF Toronto Eaton Centre        Hotel  ...    M5G 2L2     ON
29                                Grand Ballroom  Event Space  ...    M5H 2M9     ON

[10 rows x 7 columns]

In [0]:
# choose the hotel which has the same postalCode with the event space
df_hotel = df_hotels[df_hotels.postalCode == 'M5H 2M9']
df_hotel

                             name   categories  ... postalCode  state
1   Sheraton Centre Toronto Hotel        Hotel  ...    M5H 2M9     ON
29                 Grand Ballroom  Event Space  ...    M5H 2M9     ON

[2 rows x 7 columns]

In [0]:


# search for Parks
search_query = 'Park'
radius = 10000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=4FQQJE2LMGVLERRRE2BOFR1LQQR5ZEHFLTD1WRAFKOFT4TI0&client_secret=RCSNR5TH31NQRG2QYCHK101HRMTUZHBB2TSJ1CJU5UOGRXRQ&ll=43.6534817,-79.3839347&v=20180604&query=Park&radius=10000&limit=30'

In [0]:
# Send the GET Request and examine the results
presults = requests.get(url).json()
#presults

# assign relevant part of JSON to venues
venues = presults['response']['venues']

# tranform venues into a dataframe
park_dataframe = json_normalize(venues)
park_dataframe.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

                         id  ... venuePage.id
0  4b170e47f964a5208cc123e3  ...          NaN
1  4b54deadf964a520a3d027e3  ...          NaN
2  4b9177e4f964a520d2be33e3  ...          NaN
3  4d3a1d23325ff04db2dd1845  ...          NaN
4  4bfc5019da7120a132df49fd  ...          NaN

[5 rows x 18 columns]

In [0]:
# keep only columns that include venue name, and anything that is associated with location
park_clean_columns = ['name', 'categories'] + [col for col in park_dataframe.columns if col.startswith('location.')]+ ['id']
clean_park_dataframe = park_dataframe.loc[:,park_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list1 = row['categories']
    except:
        categories_list1 = row['venue.categories']
        
    if len(categories_list1) == 0:
        return None
    else:
        return categories_list1[0]['name']

# filter the category for each row
clean_park_dataframe['categories'] = clean_park_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_park_dataframe.columns = [column.split('.')[-1] for column in clean_park_dataframe.columns]

clean_park_dataframe.head()

                                 name  ...                        id
0         Queen's Park Subway Station  ...  4b170e47f964a5208cc123e3
1                         Grange Park  ...  4b54deadf964a520a3d027e3
2  TTC Streetcar #403 - Victoria park  ...  4b9177e4f964a520d2be33e3
3    Residences at College Park North  ...  4d3a1d23325ff04db2dd1845
4   St. Andrews Playground / Dog Park  ...  4bfc5019da7120a132df49fd

[5 rows x 15 columns]

In [0]:
# delete unnecessary columns
clean_park_dataframe2= clean_park_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'id'], axis=1)
clean_park_dataframe2

                                  name  ... state
0          Queen's Park Subway Station  ...    ON
1                          Grange Park  ...    ON
2   TTC Streetcar #403 - Victoria park  ...    ON
3     Residences at College Park North  ...    ON
4    St. Andrews Playground / Dog Park  ...    ON
5                        One Park Lane  ...    ON
6                         Queen's Park  ...    ON
7        Crunch Fitness - College Park  ...    ON
8               Physiomed College Park  ...    ON
9              Moss Park Tennis Courts  ...    ON
10                Clarence Square Park  ...    ON
11                         Berczy Park  ...    ON
12    Toothworks - College Park Dental  ...    ON
13             St Lawrence on the Park  ...    ON
14                 Riverdale Park West  ...    ON
15                 Tommy Thompson Park  ...    ON
16                         Regent Park  ...    ON
17              Trinity Bellwoods Park  ...    ON
18                 Riverdale Park East  ...    ON
19                   Barbara Hall Park  ...    ON
20                            HTO Park  ...    ON
21        Regent Park Community Centre  ...    ON
22                Bellevue Square Park  ...    ON
23                           High Park  ...    ON
24             Cawthra Square Dog Park  ...    ON
25                  Canoe Landing Park  ...    ON
26                         Regent Park  ...    ON
27                   Barbara Hall Park  ...    ON
28              Parliament Square Park  ...    ON
29                     Coronation Park  ...    ON

[30 rows x 7 columns]

In [0]:


# delete rows with none values
clean_park_dataframe3 = clean_park_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_park_dataframe3

                                name  ... state
0        Queen's Park Subway Station  ...    ON
3   Residences at College Park North  ...    ON
5                      One Park Lane  ...    ON
6                       Queen's Park  ...    ON
7      Crunch Fitness - College Park  ...    ON
8             Physiomed College Park  ...    ON
14               Riverdale Park West  ...    ON
17            Trinity Bellwoods Park  ...    ON
18               Riverdale Park East  ...    ON
19                 Barbara Hall Park  ...    ON
21      Regent Park Community Centre  ...    ON
22              Bellevue Square Park  ...    ON
23                         High Park  ...    ON
25                Canoe Landing Park  ...    ON
29                   Coronation Park  ...    ON

[15 rows x 7 columns]

In [0]:


# delete rows which its category is not Park
df_park = clean_park_dataframe3[clean_park_dataframe3.categories == 'Park']
df_park

                      name categories  ... postalCode  state
6             Queen's Park       Park  ...    M5R 2E8     ON
14     Riverdale Park West       Park  ...    M5A 2H3     ON
17  Trinity Bellwoods Park       Park  ...    M5H 2N2     ON
18     Riverdale Park East       Park  ...    M4K 2P1     ON
19       Barbara Hall Park       Park  ...    M4Y 2K9     ON
22    Bellevue Square Park       Park  ...    M5T 2N4     ON
23               High Park       Park  ...    M6R 2Z3     ON
25      Canoe Landing Park       Park  ...    M5V 3Z1     ON
29         Coronation Park       Park  ...    M5V 3T7     ON

[9 rows x 7 columns]

In [0]:
# search for Restaurants
search_query = 'Restaurant'
radius = 10000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=4FQQJE2LMGVLERRRE2BOFR1LQQR5ZEHFLTD1WRAFKOFT4TI0&client_secret=RCSNR5TH31NQRG2QYCHK101HRMTUZHBB2TSJ1CJU5UOGRXRQ&ll=43.6534817,-79.3839347&v=20180604&query=Restaurant&radius=10000&limit=30'

In [0]:
# Send the GET Request and examine the results
Rresults = requests.get(url).json()
#Rresults

# assign relevant part of JSON to venues
venues = Rresults['response']['venues']

# tranform venues into a dataframe
Restaurant_dataframe = json_normalize(venues)
Restaurant_dataframe.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

                         id  ... location.neighborhood
0  4ad4c05ff964a52048f720e3  ...                   NaN
1  4ad4c05cf964a52006f620e3  ...                   NaN
2  4b266f05f964a520657b24e3  ...                   NaN
3  4ada5d5bf964a520e92121e3  ...                   NaN
4  4b072e9df964a52009f922e3  ...                   NaN

[5 rows x 19 columns]

In [0]:
# keep only columns that include venue name, and anything that is associated with location
Restaurant_clean_columns = ['name', 'categories'] + [col for col in Restaurant_dataframe.columns if col.startswith('location.')]+ ['id']
clean_Restaurant_dataframe = Restaurant_dataframe.loc[:,Restaurant_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list3 = row['categories']
    except:
        categories_list3 = row['venue.categories']
        
    if len(categories_list3) == 0:
        return None
    else:
        return categories_list3[0]['name']

# filter the category for each row
clean_Restaurant_dataframe['categories'] = clean_Restaurant_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_Restaurant_dataframe.columns = [column.split('.')[-1] for column in clean_Restaurant_dataframe.columns]

clean_Restaurant_dataframe.head()

                                 name  ...                        id
0     Hemispheres Restaurant & Bistro  ...  4ad4c05ff964a52048f720e3
1               Victoria's Restaurant  ...  4ad4c05cf964a52006f620e3
2      Goldstone Noodle Restaurant é‡‘çŸ³  ...  4b266f05f964a520657b24e3
3      The Hot House Restaurant & Bar  ...  4ada5d5bf964a520e92121e3
4  Sky Dragon Chinese Restaurant é¾ç¿”é…’æ¨“  ...  4b072e9df964a52009f922e3

[5 rows x 16 columns]

In [0]:
# delete unnecessary columns
clean_Restaurant_dataframe2= clean_Restaurant_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'neighborhood', 'id'], axis=1)
clean_Restaurant_dataframe2

                                              name  ... state
0                  Hemispheres Restaurant & Bistro  ...    ON
1                            Victoria's Restaurant  ...    ON
2                   Goldstone Noodle Restaurant é‡‘çŸ³  ...    ON
3                   The Hot House Restaurant & Bar  ...    ON
4               Sky Dragon Chinese Restaurant é¾ç¿”é…’æ¨“  ...    ON
5                                Studio Restaurant  ...    ON
6               Some Time BBQ Grill Restaurant ç¢³çƒ¤å±‹  ...    ON
7                          Swatow Restaurant æ±•é ­å°é£Ÿå®¶  ...    ON
8                           Azure Restaurant & Bar  ...    ON
9                                   360 Restaurant  ...    ON
10                          Rol San Restaurant é¾ç¬™æ£§  ...    ON
11              North-East Chinese Restaurant è¯åŒ—ç¾Žé£Ÿ  ...    ON
12                        New Sky Restaurant å°æ²™ç”°é£Ÿå®¶  ...    ON
13                         Victor Restaurant & Bar  ...    ON
14                   Green Tea Restaurant Downtown  ...    ON
15                     Cottage Restaurant & Lounge  ...    ON
16               Kensington Cornerstone Restaurant  ...    ON
17                               Arriba Restaurant  ...    ON
18         Tasty's Caribbean Restaurant & Catering  ...    ON
19                    Aroma Fine Indian Restaurant  ...    ON
20                           Sightlines Restaurant  ...    ON
21  Sassafraz | Cafe | Restaurant | Private Events  ...    ON
22                        Ka Chi Korean Restaurant  ...    ON
23                           Restaurant | Adelaide  ...    ON
24                  Insomnia Restaurant and Lounge  ...    ON
25                   Micheal's Restaurant and Deli  ...    ON
26                     Woodlot Restaurant & Bakery  ...    ON
27                      Matisse Restaurant And Bar  ...    ON
28                          The Senator Restaurant  ...    ON
29                         Osgoode Hall Restaurant  ...   NaN

[30 rows x 7 columns]

In [0]:
# delete rows with none values
df_Restaurant = clean_Restaurant_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
df_Restaurant

                                              name  ... state
0                  Hemispheres Restaurant & Bistro  ...    ON
1                            Victoria's Restaurant  ...    ON
2                   Goldstone Noodle Restaurant é‡‘çŸ³  ...    ON
3                   The Hot House Restaurant & Bar  ...    ON
5                                Studio Restaurant  ...    ON
7                          Swatow Restaurant æ±•é ­å°é£Ÿå®¶  ...    ON
8                           Azure Restaurant & Bar  ...    ON
9                                   360 Restaurant  ...    ON
10                          Rol San Restaurant é¾ç¬™æ£§  ...    ON
12                        New Sky Restaurant å°æ²™ç”°é£Ÿå®¶  ...    ON
13                         Victor Restaurant & Bar  ...    ON
14                   Green Tea Restaurant Downtown  ...    ON
15                     Cottage Restaurant & Lounge  ...    ON
16               Kensington Cornerstone Restaurant  ...    ON
17                               Arriba Restaurant  ...    ON
18         Tasty's Caribbean Restaurant & Catering  ...    ON
19                    Aroma Fine Indian Restaurant  ...    ON
21  Sassafraz | Cafe | Restaurant | Private Events  ...    ON
22                        Ka Chi Korean Restaurant  ...    ON
23                           Restaurant | Adelaide  ...    ON
24                  Insomnia Restaurant and Lounge  ...    ON
26                     Woodlot Restaurant & Bakery  ...    ON
27                      Matisse Restaurant And Bar  ...    ON
28                          The Senator Restaurant  ...    ON

[24 rows x 7 columns]

In [0]:
# search for Cafeteria
search_query = 'Cafeteria'
radius = 10000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=4FQQJE2LMGVLERRRE2BOFR1LQQR5ZEHFLTD1WRAFKOFT4TI0&client_secret=RCSNR5TH31NQRG2QYCHK101HRMTUZHBB2TSJ1CJU5UOGRXRQ&ll=43.6534817,-79.3839347&v=20180604&query=Cafeteria&radius=10000&limit=30'

In [0]:
# Send the GET Request and examine the results
cresults = requests.get(url).json()
#cresults

# assign relevant part of JSON to venues
venues = cresults['response']['venues']

# tranform venues into a dataframe
Cafeteria_dataframe = json_normalize(venues)
Cafeteria_dataframe.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

                         id  ... location.postalCode
0  4f9165bde4b04fef0087e4e2  ...                 NaN
1  528e99a211d262edc3708a6f  ...             M5T 2G5
2  4b57256bf964a520332828e3  ...                 NaN
3  53bd6dfe498e6c1d3bc9333e  ...                 NaN
4  4ec2b68a8231a83de8c45191  ...                 NaN

[5 rows x 17 columns]

In [0]:
# keep only columns that include venue name, and anything that is associated with location
Cafeteria_clean_columns = ['name', 'categories'] + [col for col in Cafeteria_dataframe.columns if col.startswith('location.')]+ ['id']
clean_Cafeteria_dataframe = Cafeteria_dataframe.loc[:,Cafeteria_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list4 = row['categories']
    except:
        categories_list4 = row['venue.categories']
        
    if len(categories_list4) == 0:
        return None
    else:
        return categories_list4[0]['name']

# filter the category for each row
clean_Cafeteria_dataframe['categories'] = clean_Cafeteria_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_Cafeteria_dataframe.columns = [column.split('.')[-1] for column in clean_Cafeteria_dataframe.columns]

clean_Cafeteria_dataframe.head()

                            name  ...                        id
0                      Cafeteria  ...  4f9165bde4b04fef0087e4e2
1              Stay Cafeteria æ…¢èµ°  ...  528e99a211d262edc3708a6f
2                Sears Cafeteria  ...  4b57256bf964a520332828e3
3  Industrial Alliance Cafeteria  ...  53bd6dfe498e6c1d3bc9333e
4                 OCAD Cafeteria  ...  4ec2b68a8231a83de8c45191

[5 rows x 15 columns]

In [0]:
# delete unnecessary columns
clean_Cafeteria_dataframe2= clean_Cafeteria_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'id'], axis=1)
clean_Cafeteria_dataframe2

                                     name  ... postalCode
0                               Cafeteria  ...        NaN
1                       Stay Cafeteria æ…¢èµ°  ...    M5T 2G5
2                         Sears Cafeteria  ...        NaN
3           Industrial Alliance Cafeteria  ...        NaN
4                          OCAD Cafeteria  ...        NaN
5                 Chestnut Tree Cafeteria  ...        NaN
6                         Dears Cafeteria  ...        NaN
7                   Ryerson Hub Cafeteria  ...        NaN
8                      SickKids Cafeteria  ...        NaN
9           De La Salle College Cafeteria  ...    M4V 1H7
10                      Med Sci Cafeteria  ...        NaN
11              Macdonald Block Cafeteria  ...        NaN
12                          OMP Cafeteria  ...        NaN
13                      Robarts Cafeteria  ...        NaN
14                       Rogers Cafeteria  ...        NaN
15                      Choices Cafeteria  ...        NaN
16    Cafeteria, Lawrence Park Collegiate  ...        NaN
17    Cafeteria, Lawrence Park Collegiate  ...        NaN
18                             Marketeria  ...    M5B 1W8
19                       Kasala Cafeteria  ...        NaN
20               Estonian House Cafeteria  ...        NaN
21                                The Hub  ...    M5B 2K3
22  George Brown College St. James Campus  ...        NaN
23                           CC Cafeteria  ...        NaN
24                             Radio Cafe  ...        NaN
25                      Glendon Cafeteria  ...        NaN
26     Lawrence Park Collegiate Cafeteria  ...        NaN
27                           L5 Cafeteria  ...        NaN
28  6th Floor Cafeteria 12 Concorde Place  ...    m3c 3k7
29                          Innis College  ...    M5S 1J5

[30 rows x 7 columns]

In [0]:


# delete rows with none values
df_Cafeteria = clean_Cafeteria_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
df_Cafeteria

                                     name         categories  ... state  postalCode
1                       Stay Cafeteria æ…¢èµ°   Asian Restaurant  ...    ON     M5T 2G5
9           De La Salle College Cafeteria  College Cafeteria  ...    ON     M4V 1H7
18                             Marketeria         Restaurant  ...    ON     M5B 1W8
21                                The Hub  College Cafeteria  ...    ON     M5B 2K3
28  6th Floor Cafeteria 12 Concorde Place               CafÃ©  ...    ON     m3c 3k7
29                          Innis College     Student Center  ...    ON     M5S 1J5

[6 rows x 7 columns]

In [0]:
# search for Shopping
search_query = 'Shopping'
radius = 1000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=4FQQJE2LMGVLERRRE2BOFR1LQQR5ZEHFLTD1WRAFKOFT4TI0&client_secret=RCSNR5TH31NQRG2QYCHK101HRMTUZHBB2TSJ1CJU5UOGRXRQ&ll=43.6534817,-79.3839347&v=20180604&query=Shopping&radius=1000&limit=30'

In [0]:
# Send the GET Request and examine the results
sresults = requests.get(url).json()
#sresults

# assign relevant part of JSON to venues
venues = sresults['response']['venues']

# tranform venues into a dataframe
Shopping_dataframe = json_normalize(venues)
Shopping_dataframe.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

                         id  ...          location.neighborhood
0  5840cafe06f1a34af80cc609  ...                            NaN
1  4ad77a12f964a520260b21e3  ...  Downtown Toronto, Toronto, ON
2  4b9e86dff964a520e6eb36e3  ...                            NaN

[3 rows x 18 columns]

In [0]:
# keep only columns that include venue name, and anything that is associated with location
Shopping_clean_columns = ['name', 'categories'] + [col for col in Shopping_dataframe.columns if col.startswith('location.')]+ ['id']
clean_Shopping_dataframe = Shopping_dataframe.loc[:,Shopping_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list5 = row['categories']
    except:
        categories_list5 = row['venue.categories']
        
    if len(categories_list5) == 0:
        return None
    else:
        return categories_list5[0]['name']

# filter the category for each row
clean_Shopping_dataframe['categories'] = clean_Shopping_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_Shopping_dataframe.columns = [column.split('.')[-1] for column in clean_Shopping_dataframe.columns]

clean_Shopping_dataframe.head()

                                         name  ...                        id
0  Saks Fifth Avenue Club - Personal Shopping  ...  5840cafe06f1a34af80cc609
1                     CF Toronto Eaton Centre  ...  4ad77a12f964a520260b21e3
2                TD Centre Shopping Concourse  ...  4b9e86dff964a520e6eb36e3

[3 rows x 16 columns]

In [0]:
# delete unnecessary columns
clean_Shopping_dataframe2= clean_Shopping_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'neighborhood', 'id'], axis=1)
clean_Shopping_dataframe2

                                         name  ... state
0  Saks Fifth Avenue Club - Personal Shopping  ...    ON
1                     CF Toronto Eaton Centre  ...    ON
2                TD Centre Shopping Concourse  ...    ON

[3 rows x 7 columns]

In [0]:
# delete rows which its category is not Shopping Mall
df_Shopping = clean_Shopping_dataframe2[clean_Shopping_dataframe2.categories == 'Shopping Mall']
df_Shopping

                           name     categories  ... postalCode  state
1       CF Toronto Eaton Centre  Shopping Mall  ...    M5B 2H1     ON
2  TD Centre Shopping Concourse  Shopping Mall  ...    M5K 1A1     ON

[2 rows x 7 columns]

In [0]:
# create dataframe of hotels, shopping stores and Cafeteria
hotel_neighbourhood_df = pd.concat([df_hotel, df_Cafeteria, df_Shopping], ignore_index=True)
hotel_neighbourhood_df

                                    name         categories  ... postalCode  state
0          Sheraton Centre Toronto Hotel              Hotel  ...    M5H 2M9     ON
1                         Grand Ballroom        Event Space  ...    M5H 2M9     ON
2                      Stay Cafeteria æ…¢èµ°   Asian Restaurant  ...    M5T 2G5     ON
3          De La Salle College Cafeteria  College Cafeteria  ...    M4V 1H7     ON
4                             Marketeria         Restaurant  ...    M5B 1W8     ON
5                                The Hub  College Cafeteria  ...    M5B 2K3     ON
6  6th Floor Cafeteria 12 Concorde Place               CafÃ©  ...    m3c 3k7     ON
7                          Innis College     Student Center  ...    M5S 1J5     ON
8                CF Toronto Eaton Centre      Shopping Mall  ...    M5B 2H1     ON
9           TD Centre Shopping Concourse      Shopping Mall  ...    M5K 1A1     ON

[10 rows x 7 columns]

In [0]:
# Generate map to visualize hotel neighbourhood including shopping stores and Cafeteria 
hotel_map = folium.Map(location=[latitude, longitude], zoom_start=14)

for lat, lng, name, categories, address in zip(hotel_neighbourhood_df['lat'], hotel_neighbourhood_df['lng'], 
                                           hotel_neighbourhood_df['name'], hotel_neighbourhood_df['categories'],\
                                               hotel_neighbourhood_df['address']):
    label = '{}, {}'.format(name, address)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='blue',
        fill_opacity=0.7,
        parse_html=False).add_to(hotel_map)  
    
hotel_map

In [0]:
# create dataframe of Park, Restaurant and Cafeteria
park_neighbourhood_df = pd.concat([df_park, df_Restaurant, df_Cafeteria,], ignore_index=True)
park_neighbourhood_df

                                              name  ... state
0                                     Queen's Park  ...    ON
1                              Riverdale Park West  ...    ON
2                           Trinity Bellwoods Park  ...    ON
3                              Riverdale Park East  ...    ON
4                                Barbara Hall Park  ...    ON
5                             Bellevue Square Park  ...    ON
6                                        High Park  ...    ON
7                               Canoe Landing Park  ...    ON
8                                  Coronation Park  ...    ON
9                  Hemispheres Restaurant & Bistro  ...    ON
10                           Victoria's Restaurant  ...    ON
11                  Goldstone Noodle Restaurant é‡‘çŸ³  ...    ON
12                  The Hot House Restaurant & Bar  ...    ON
13                               Studio Restaurant  ...    ON
14                         Swatow Restaurant æ±•é ­å°é£Ÿå®¶  ...    ON
15                          Azure Restaurant & Bar  ...    ON
16                                  360 Restaurant  ...    ON
17                          Rol San Restaurant é¾ç¬™æ£§  ...    ON
18                        New Sky Restaurant å°æ²™ç”°é£Ÿå®¶  ...    ON
19                         Victor Restaurant & Bar  ...    ON
20                   Green Tea Restaurant Downtown  ...    ON
21                     Cottage Restaurant & Lounge  ...    ON
22               Kensington Cornerstone Restaurant  ...    ON
23                               Arriba Restaurant  ...    ON
24         Tasty's Caribbean Restaurant & Catering  ...    ON
25                    Aroma Fine Indian Restaurant  ...    ON
26  Sassafraz | Cafe | Restaurant | Private Events  ...    ON
27                        Ka Chi Korean Restaurant  ...    ON
28                           Restaurant | Adelaide  ...    ON
29                  Insomnia Restaurant and Lounge  ...    ON
30                     Woodlot Restaurant & Bakery  ...    ON
31                      Matisse Restaurant And Bar  ...    ON
32                          The Senator Restaurant  ...    ON
33                               Stay Cafeteria æ…¢èµ°  ...    ON
34                   De La Salle College Cafeteria  ...    ON
35                                      Marketeria  ...    ON
36                                         The Hub  ...    ON
37           6th Floor Cafeteria 12 Concorde Place  ...    ON
38                                   Innis College  ...    ON

[39 rows x 7 columns]

In [0]:
# Generate map to visualize park neighbourhood including Restaurant and Cafeteria 
park_map = folium.Map(location=[latitude, longitude], zoom_start=14)

for lat, lng, name, categories, address in zip(park_neighbourhood_df['lat'], park_neighbourhood_df['lng'], 
                                           park_neighbourhood_df['name'], park_neighbourhood_df['categories'],\
                                               park_neighbourhood_df['address']):
    label = '{}, {}'.format(name, address)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='blue',
        fill_opacity=0.7,
        parse_html=False).add_to(park_map)  
    
park_map

This is the link to Google Collab to see maps (Wont't be visible in Jupyter Notebook):


https://colab.research.google.com/drive/1eklEN9Dq8EEyIHqulpewyKrtdfNq24_Y